
/*CSS Variables*/
:root {
  --primary-color: #9c5526;
  --secondary-color: #54331d;
  --white-color: #ede7e3;
  --hover-color: #ec823c;
  --black-color: #353331;
  --black75: hsla(24, 4%, 20%, 0.75);
}

/*Global Styles*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'sofia-sans', sans-serif;
  font-size: 1.1rem;
  color: var(--black-color);
  line-height: 1.4;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/coffee.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h3, h4 {
  font-family: 'Patua One', cursive;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2.7rem;
  background-color: var(--white-color);
  width: 250px;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: 
    0px 0px 30px 0px rgba(0,0,0,0.5),
    inset 0px 0px 20px 0px rgba(84,51,29,0.5);
}


h3 {
  font-size: 1.9rem;
}


h4 {
  font-size: 1.6rem;
  text-align: center;
  color: var(--primary-color);
}

.small {
  font-size: 1rem;
}



/*Header*/

header {
  background-color: var(--secondary-color);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

nav {
  text-align: right;
}

nav li {
  display: inline;
  margin-right: 1rem;
}

nav a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.9rem;
}

nav a:hover {
  color: var(--hover-color);
}


/* main */

main {
  background-color: var(--white-color);
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0;
  padding-right: 0;
}

div.content-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

main section:nth-of-type(1), 
main section:nth-of-type(2) {
  margin-bottom: 1rem;
}
/* About section */

#about {
  max-width: 60ch;
}

#about p {
  margin-bottom: 0.5rem;
}

#about li {
  list-style: none;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: 1em 1em;
  padding-left: 1.5em;
  background-position: 0 0.2em;
}


/*Menu section*/

.item p {
  display: inline-block;
}

.title {
  width: 75%;
  text-align: left;
}

.price {
  width: 25%;
  text-align: right;
}


/*Reservation section*/

form * {
  font: inherit;
  color: var(--black-color);
}

label {
  display: block;
  color: var(--black75);
}

input, select, textarea {
  background-color: #d6ab8f;
  width: 100%;
  border: none;
  margin-bottom: 0.5em;
}

input[type="submit"] {
  font-size: 1.25rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 8px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--secondary-color);
}


/*footer*/

footer {
  background-color: var(--secondary-color);
  color: var(--white-color);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
